.header {
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 12px rgba(201,201,201, 0.16);
    padding-top: 18px;
    padding-bottom: 15px;
}

.header-width-wrapper {
    width: 1366px;
    display: flex;
    align-items: center;
}

.header img {
    height: 47px;
    width: 47px;
    margin-left: 107px;
}

.header .select {
    margin-left: auto;
    margin-right: 201px;
}

.select label {
    font-size: 14px;
    color: #7E7E7E;
    margin-right: 20px;
}

.header select {
    height: 32px;
    width: 112px;
    box-sizing: border-box;
    border: 1px solid #909090;
    border-radius: 3px;
    font-size: 14px;
    color: #7E7E7E;
    padding-left: 16px;
}