.login-container {
    display: flex;
    justify-content: center;
    margin-top: 89px;
}

.login-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.login-input-fields input, .login-form form button {
    width: 397px;
    height: 48px;
    display: block;
}

.login-title {
    text-align: center;
}

.login-checkbox {
    display: block;
}