.login-container {
    display: flex;
    justify-content: center;
    margin-top: 89px;
    height: 357px;
}

.login-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.login-input-fields input, .login-form form button {
    width: 397px;
    height: 48px;
    padding: 0;
    margin: 0;
    display: block;
    box-sizing: border-box;
    padding: 12px 0;
    border-radius: 6px;
    font-size: 18px; 
}

.login-input-fields {
    height: 130px;
}

.login-form form button {
    color: #FFFFFF;
    background-color: #1DE278;
    border: none;
}

.login-input-fields input {
    padding-left: 23px;
    border: 1px solid #C9C6C6;
}

.login-input-fields input::placeholder {
    color: #A5A1A1;
}

#email {
    margin-bottom: 32px;
}

.login-title {
    text-align: center;
    margin-bottom: 73px;
    font-size: 24px;
    color: #727272;
}

.login-checkbox  {
    display: flex;
    margin-top: 20px;
    margin-bottom: 29px;
    align-items: center;
}

#remember {
    height: 25px;
    width: 28px;
    box-sizing: border-box;
    border: 1px solid #A5A1A1;
    margin: 0;
    margin-left: 3px;
    margin-right: 15px;
}

.login-input-fields:after {
    content: " ";
    background-color: #FFF;
    display: inline-block;
    visibility: visible;
}

.login-checkbox label {
    color: #A5A1A1;
    font-size: 16px;
    padding-top: 3px;
}